*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}

input{
    width: 65%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border: solid;
    display: inline-block;
    width: 220px;
    
}
.product{
    display: inline-block;
    text-align: center;
}
.img{
    display: inline;
    text-align: center;
    width: 220px;
    height: 220px;
}
.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.about{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
}
.M{
    margin-top: 30px;
    font-size: 10px;
}
